.signupPage {
  text-align: center;
  width: 60%;
  margin: 50px auto;
  color: white;
  background: black;
  padding: 10px;
  line-height: 15px;
  border-radius: 30px;
  min-height: 400px;
}

.signupPage label {
  display: inline-block;
  width: 50%;
  text-align: left;
  margin: 5px auto;
  padding: 5px;
}
