.smallScreen {
  display: none;
}
.largeScreen {
  justify-content: "center";
}

@media screen and (max-width: 1100px) {
  .smallScreen {
    display: flex;
    justify-content: "center";
  }
  .largeScreen {
    display: none;
    justify-content: "center";
  }
}
