.Instructions {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-left: 5vw;
  width: 90vw;
  height: 100%;
  background: white;
  min-height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
}

p {
  padding: 20px;
}

h1 {
  text-align: center;
}

.containerInstructions {
  margin-left: 20px;
  margin-right: 20px;
}
