.KaggleDash {
  background: #6e828b83;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 100vw;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}

.KaggleList {
  overflow: auto;
}

.serarchText {
  width: 90%;
}

.searchBtn {
  width: 10%;
}

.KagglePanelHeader {
  text-align: center;
}

.KagglePanelAction{
  max-width: 33.33333333vw;
  height: fit-content;
  max-height: 85vh;
  overflow-x: auto;
  overflow-y: auto;
}

.KagglePanel{
  margin-top: 2vh;
  max-height: 85vh;
  max-width: 33.33333333vw;
  height: fit-content;
  overflow: auto !important; /* needed to fix a bug where ReactJoyride overrides elements below it's modal */
}
