.KaggleDash {
  background: #6e828b83;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 100vw;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}

.KaggleList {
  /* height:max-content; */
  /* max-height: 85vh; */
  overflow: auto;
}

.serarchText {
  width: 90%;
}

.searchBtn {
  width: 10%;
}

.KagglePanelHeader {
  text-align: center;
}

.KagglePanelAction{
  /* margin-top: 2vh; */
  height: fit-content;
  max-height: 85vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.KagglePanel{
  margin-top: 2vh;
  max-height: 85vh;
  height: fit-content;
  overflow: auto;
}
